build:
  type: text
  content: |-
    #!/bin/sh


    docker build -f Dockerfile -t roostTest:$GIT_COMMIT_ID . 
    docker tag roostTest:$GIT_COMMIT_ID  roostTest:$ROOST_NAMESPACE  
deploy:
  type: text
  content: |+
    #!/bin/sh

    docker run  -d -p 30378:8080 --name petclinic petclinic:$ROOST_NAMESPACE

test:
  - name: petclinic
    configType: maven
    configPath: /
uninstall:
  type: text
  content: |-
    #!/bin/sh

    docker kill petclinic
dockerCompose: ''
lastUpdatedBy: Demo Video
lastUpdatedOn: 2023-07-24T12:16:19.222Z
