build:
  type: text
  content: |-
    #!/bin/sh

    docker build -f Dockerfile -t petclinic:$GIT_COMMIT_ID . 
    docker tag petclinic:$GIT_COMMIT_ID  petclinic:$ROOST_NAMESPACE  
deploy:
  type: text
  content: |+
    #!/bin/sh
    docker rm -f petclinic
    docker run  -d -p 30400:8080 --name petclinic petclinic:$ROOST_NAMESPACE




test:
  - name: petclinic
    configType: maven
    configPath: /
uninstall:
  type: text
  content: |-
    #!/bin/sh

    docker rm -f petclinic
dockerCompose: ''
app_dependencies:
  type: text
  content: |+
    #!/bin/sh

app_deploy:
  type: text
  content: |+
    #!/bin/sh

app_test: []
app_uninstall:
  type: text
  content: |-
    #!/bin/sh

    docker kill petclinic
app_docker_compose: ''
lastUpdatedBy: Harish ZBIO
lastUpdatedOn: 2023-07-24T13:50:27.998Z
