build:
  type: text
  content: |-
    #!/bin/sh

    docker build -f Dockerfile -t petclinic:$GIT_COMMIT_ID . 
    docker tag petclinic:$GIT_COMMIT_ID  petclinic:$ROOST_NAMESPACE  
deploy:
  type: text
  content: |+
    #!/bin/sh


    docker rm -f petclinic
    docker run  -d -p 30378:8080 --name petclinic petclinic:$ROOST_NAMESPACE

test:
  - name: petclinic
    configType: maven
    configPath: /
uninstall:
  type: text
  content: |-
    #!/bin/sh


    docker rm -f petclinic
dockerCompose: ''
lastUpdatedBy: Harish Agrawal
lastUpdatedOn: 2023-07-25T08:09:00.762Z
